<div class="cart-wrapper">
  <mat-card>
    <mat-card-content style="height: inherit;">
      <table *ngIf="items.length>0;else noData" class="table table-hover  bg-white" style="width: inherit;">
        <thead>
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th style="width:10%;">Quantity</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items" >
              <td>
                <div class="row">
              <div class="col-xl-2 col-lg-3 Product-img">
                <img src="data:image/jpg;base64,{{item.article.imagePath}}" alt="..." class="img-responsive"/>
              </div>
              <div class="col-xl-10 col-lg-9">
                <h4 class="nomargin sneakerName">{{item.article.name}}</h4>
                <p>{{item.article.description}}</p>
              </div>
            </div>
              </td>
              <td class="price" style="width:5% ">{{item.total}}</td>
              <td data-th="Quantity">
            <input type="number" class="form-control text-center" value="{{item.quantity}}">
          </td>
          <td><button mat-icon-button>
            <mat-icon (click)="delete(item)">delete</mat-icon>
          </button></td>
            </tr>

        </tbody>

    </table>
    </mat-card-content>
    <hr>
  <mat-card-actions>
    <button [routerLink]="['']" mat-raised-button color="primary">
      RESUME SHOPPING
    </button>
    <div fxFlex="" ></div>
    <button mat-raised-button [routerLink]="['/checkout']" color="accent">GO TO CHECKOUT </button>
  </mat-card-actions>
  </mat-card>

</div>
<ng-template #noData>
  <h3><b>Cart is empty.</b></h3>
</ng-template>
