<div class="cart-wrapper">
  <mat-card>
    <mat-card-content style="height: inherit;">
      <table class="table table-hover  bg-white" style="width: inherit;">
        <thead>
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th style="width:10%;">Quantity</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <div class="row">
              <div class="col-xl-2 col-lg-3 Product-img">
                <img src="https://c.static-nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/skwgyqrbfzhu6uyeh0gg/air-max-270-shoe-2V5C4p.jpg" alt="..." class="img-responsive"/>
              </div>
              <div class="col-xl-10 col-lg-9">
                <h4 class="nomargin sneakerName">Nike AirMax</h4>
                <p>Nike Air technology consists of pressurized air inside a tough yet flexible bag and provides more flexibility and spring without compromising structure. The Air Sole units maintain their given form with elasticity, lower impact and keep the shoe snug and lightweight.</p>
              </div>
            </div>
              </td>
              <td class="price" style="width:5% "> 12,000 </td>
              <td data-th="Quantity">
            <input type="number" class="form-control text-center" value="1">
          </td>
          <td><button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button></td>
            </tr>

        </tbody>

    </table>
    </mat-card-content>
    <hr>
  <mat-card-actions>
    <button mat-raised-button color="primary">
      RESUME SHOPPING
    </button>
    <div fxFlex="" ></div>
    <button mat-raised-button color="accent">GO TO CHECKOUT </button>
  </mat-card-actions>
  </mat-card>

</div>
