<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="toolbar" style="position: fixed; top: 0;z-index: 999;box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);">

    <img class="logo" src="../assets/KIKCZLOGO.png">

    <span class="example-spacer"></span>
    <div  class="toolbarIcons">
      <button *ngIf="this.sideNavService.cartVisible==true" mat-icon-button class="example-icon favorite-icon" >
        <mat-icon  matBadge="3" matBadgeColor="accent">shopping_cart</mat-icon>
      </button>
    </div>



</mat-toolbar>

<mat-sidenav-container   hasBackdrop="false" >
  <mat-sidenav *ngIf="this.sideNavService.isVisible==true" class="sidenav" #sidenav mode="side" [opened]="true" disableClose="true"
    style="position: fixed; top: 0;z-index: 999;">
    <mat-nav-list style="margin-top: 56px">


      <mat-accordion>
        <mat-expansion-panel class="sidenavAccord mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon aria-hidden="false" aria-label="Početna" style="margin-right: 15px;">family_restroom</mat-icon>
              <b>Gender</b>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <ul  style="list-style: none; padding:0">
            <li>
            <mat-checkbox color="primary">
              <b>Male</b>
            </mat-checkbox>
            </li>
            <li>
              <mat-checkbox color="primary">
                <b>Female</b>
              </mat-checkbox>
            </li>
          </ul>
        </mat-expansion-panel>

      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel class="sidenavAccord mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon aria-hidden="false" aria-label="Početna" style="margin-right: 15px;">category</mat-icon>
              <b>Type</b>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <ul>
            <li>
            <mat-checkbox>

            </mat-checkbox>
            </li>
          </ul>
        </mat-expansion-panel>

      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel class="sidenavAccord mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon aria-hidden="false" aria-label="Početna" style="margin-right: 15px;">verified</mat-icon>
              <b>Brand</b>
            </mat-panel-title>

          </mat-expansion-panel-header>

        </mat-expansion-panel>

      </mat-accordion>


      <div class="center">
        <button style="width: 95%;padding: 0.7em;" mat-flat-button color="primary">FILTER</button>
      </div>


    </mat-nav-list>


  </mat-sidenav>
  <mat-sidenav-content>
    <div style="margin: 1.5em;margin-top: 80px">
      <div class="container">

      </div>
      <router-outlet></router-outlet>

    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
