<div class="card mat-elevation-z4">
  <div class="container-fliud">
    <div class="wrapper row">
      <div class="preview col-md-6">
      <img class="detailImage" src="https://c.static-nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/skwgyqrbfzhu6uyeh0gg/air-max-270-shoe-2V5C4p.jpg">
      </div>
      <div class="details col-md-6">
        <h3 class="product-title">Nike AirMax</h3>
        <p class="product-description">Gornjište: sintetička koža, drugi materijali
          Podstava i unutrašnjost: tekstil
          Potplat: ostali materijali - guma</p>
        <h4 class="price">CURRENT PRICE: <span>$180</span></h4>
        <div class="action">
          <button class="add-to-cart btn btn-default mat-elevation-z4" type="button">add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
