<div class="carousel-wrapper">
  <carousel class="carousel">
    <slide style="height:inherit;">
      <img src="https://live.staticflickr.com/5575/14572774238_276ac375a0_b.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
  
    <slide>
      <img src="https://www.passionforsavings.com/content/uploads/2019/07/School-Supply-Deals-6.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>

<div *ngIf="articles" class="product-wrapper" fxLayout="row wrap" fxLayoutGap="24px grid">
  <div *ngFor="let product of articles" class="product" fxFlex.lg="25%" fxFlex.xl="25%" fxflex.xs="50%" fxFlex.md="33%" fxflex.fxFlex.sm="50%">
    <mat-card  class="mat-elevation-z2" style="padding: 0px;">

     <mat-card-content>
      <img fxFlex="0 100 100%" class="productImage" src="data:image/jpg;base64,{{product.imagePath}}">

     </mat-card-content>
     <mat-card-subtitle>
      <b class="sneakerName">{{product.name}}</b>
      <div class="price"> {{product.price}}$</div>

     </mat-card-subtitle>
     <mat-card-actions >
       <div fxFlex></div>
        <button (click)="addToCart(product)" color="primary" mat-icon-button>
          <mat-icon >add_shopping_cart</mat-icon>
        </button>

     </mat-card-actions>
    </mat-card>
  </div>
  


</div>
